#!/bin/bash

cd /etc/letsencrypt/certs/
/usr/bin/certbot renew --noninteractive
cp /etc/letsencrypt/certs/{{ domain_name }}.crt /etc/ipsec.d/certs/cert.pem
cp /etc/letsencrypt/certs/chain_{{ domain_name }}.crt /etc/ipsec.d/cacerts/ca.pem
cp /etc/letsencrypt/certs/fullchain_{{ domain_name }} /etc/ipsec.d/certs/server-cert.pem
systemctl reload-or-restart ipsec