#!/bin/bash

cd {{ lets_encrypt_dir }}
openssl req -new -sha256 \
    -key {{ lets_encrypt_key_path }} \
    -subj "/CN={{ domain_name }}" \
    -out {{ lets_encrypt_csr_path }}

python3 {{ lets_encrypt_tiny_acme_path }} \
    --account-key {{ lets_encrypt_account_key_path }} \
    --csr {{ lets_encrypt_csr_path }} \
    --acme-dir {{ lets_encrypt_acme_challenge_dir }} > {{ lets_encrypt_certs_dir }}/fullchain.pem || exit

cd {{ lets_encrypt_certs_dir }}
csplit -s -z -f cert-part- {{ lets_encrypt_certs_dir }}/fullchain.pem '/-----BEGIN CERTIFICATE-----/' '{*}'
mv cert-part-00 cert.crt
mv cert-part-01 chain.crt
rm {{ lets_encrypt_csr_path }} || true
