server {
    listen 80;
    server_name {{ domain_name }};
    root {{ lets_encrypt_site_dir }};
    location ~ /.well-known {
        rewrite /.well-known/acme-challenge/(.*) /$1 break;
        root {{ lets_encrypt_acme_challenge_dir }};
        allow all;
    }
    if ($uri !~ /.well-known){
        return 301 https://$host$request_uri;
    }
}