---
# handlers file for roles/ipsec_server
- name: Begin UFW restart
  community.general.ufw:
    state: disabled
  notify: End UFW restart

- name: End UFW restart
  community.general.ufw:
    state: enabled
