# Ansible generated config

IgnoreRhosts {% if ssh_ignore_rhosts %}yes{% else %}no{% endif %}

PasswordAuthentication {% if ssh_password_authentication %}yes{% else %}no{% endif %}

PermitRootLogin {% if ssh_permit_root_login %}yes{% else %}no{% endif %}

DisableForwarding {% if ssh_disable_forwarding %}yes{% else %}no{% endif %}