# Ansible generated config
{% if ssh_port != 22 -%}
Port {{ ssh_port }}
{% endif -%}
IgnoreRhosts {{ 'yes' if ssh_ignore_rhosts else 'no' }}
PasswordAuthentication {{ 'yes' if ssh_password_authentication else 'no' }}
PermitRootLogin {{ 'yes' if ssh_permit_root_login else 'no' }}
DisableForwarding {{ 'yes' if ssh_disable_forwarding else 'no' }}
